@font-face {
    font-family: 'edmondsansregular';
    src: url('fonts/edmondsans-regular.eot');
    src: url('fonts/edmondsans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-regular.woff') format('woff'),
         url('fonts/edmondsans-regular.ttf') format('truetype'),
         url('fonts/edmondsans-regular.svg#edmondsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'edmondsansmedium';
    src: url('fonts/edmondsans-medium.eot');
    src: url('fonts/edmondsans-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-medium.woff') format('woff'),
         url('fonts/edmondsans-medium.ttf') format('truetype'),
         url('fonts/edmondsans-medium.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #323232;
  font-family: 'Gentium Book Basic', serif;
  font-size: small;
  color: #efefef;
  text-align: center;
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "edmondsansregular";
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin: 1em 0;
  font: 400 14px/20px "edmondsansregular";
  /*text-shadow: 0 1px 0 #323232;*/
}

a         { color: #ACACAC; }
a:hover   { color: #ACACAC; }
a:visited { color: #ACACAC; }


#photo {
  margin: 80px auto;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;  
  overflow: hidden;
  background: url(../images/kyle.jpg);
  background-size: 180px;
  background-position: 0px -25px;
  box-shadow: 20px 20px 10px 10px transparent;
  /*transition: box-shadow 500ms ease;*/
}

/*#photo:hover {
  box-shadow: 20px 20px 10px 20px #555;
  transition: box-shadow 500ms ease;
}*/

#name {
  font-size: 80px;
}

#subtitle {
  margin-top: 10px;
  font: 400 18px/20px "edmondsansregular";
  letter-spacing: 1.4px
}

#info-row {
  margin-top: 150px;
}

.info-item {
  padding: 0 45px;
}


.info-item:nth-child(2) {
  border-left: thin solid #565656;
  border-right: thin solid #565656;
}
