<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kyle Rosenberg</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" href="{{ site.baseurl}}/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ site.baseurl}}/images/favicon.ico" type="image/x-icon">

        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">

    </head>
    <body>

    <div id="photo"></div>
    <div id="name">
      Kyle Rosenberg
    </div>
    <div id="subtitle">
      <span>web developer + designer</span>
    </div>

    <div class="container">
      <div id="info-row" class="row">
        
        <div class="col-sm-4 info-item">
          <h3>before</h3>
          <p>
            I graduated from Macalester College in 2013 with a degree in Computer Science. During college, I held internships in web development, graphic design, and video production.
          </p>
        </div>
        <div class="col-sm-4 info-item">
          <h3>presently</h3>
          <p>
            I’m working for <a href="http://appfirst.com">AppFirst</a> in Minnesota as a front-end web developer. I work with technologies like Django, Backbone, D3, and CSS3 to develop the user interface of our product.
          </p>
          <!-- <small><a href="#">too many abbreviations?</a></small> -->
        </div>
        <div class="col-sm-4 info-item">
          <h3>next</h3>
          <p>
            While I don't plan on leaving my current job anyime soon, I am always looking for opportunities to challenge myself, advance my career, and volunteer my time and skills.
          </p>
        </div>

      </div>
    </div>

    </body>
</html>
